<form class="example-form">
  <app-input-component [optionForm]="totalQuestionsForm" [label]="'Total de preguntas'" class="custom-input" (optionResponse)="changeQuestion($event)">
  </app-input-component>
  <app-input-component [optionForm]="totalOptionsForm" [label]="'Total de opciones'" class="custom-input" (optionResponse)="changeOptions($event)">
  </app-input-component>
  <app-input-component [optionForm]="successesForm" [label]="'Aciertos'" class="custom-input" (optionResponse)="changeSuccess($event)">
  </app-input-component>
  <app-input-component [optionForm]="mistakesForm" [label]="'Fallos'" class="custom-input" (optionResponse)="changeMistakes($event)">
  </app-input-component>
  <app-input-component [optionForm]="answersBlankForm" [label]="'En Blanco'" class="custom-input" (optionResponse)="changeAnswerBlank($event)">
  </app-input-component>
  <ion-button (click)="submit()">Resultado</ion-button>

</form>