<form class="example-form">
  <mat-form-field class="example-full-width input-top">
    <mat-label>Total de preguntas</mat-label>
    <input matInput type="text" (input)="validateNumber($event)" [formControl]="totalAnswersForm"  maxlength="2"
      [formControl]="totalAnswersForm">
  </mat-form-field>
  <mat-form-field class="example-full-width input-top">
    <mat-label>Total de opciones</mat-label>
    <input matInput type="text" (input)="validateNumber($event)" [formControl]="totalOptionsForm">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Aciertos</mat-label>
    <input matInput type="text" (input)="validateNumber($event)" maxlength="2" [formControl]="successesForm" min="0" max="99">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Errores</mat-label>
    <input matInput type="text" (input)="validateNumber($event)" maxlength="2" [formControl]="mistakesForm" min="0" max="99">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>No respondidas</mat-label>
    <input matInput type="text" (input)="validateNumber($event)" maxlength="2" [formControl]="answersBlankForm" min="0" max="99">
  </mat-form-field>
  <ion-button (click)="submit()">Resultado</ion-button>

</form>