.list {
    margin: 10px;
    border-radius: 10px;
}

p {
    margin: 10px;
}

.correct {
    color: green;
}

.error {
    color: red;

}

.footer {
    display: flex;
    justify-content: space-between;

}