<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Test: {{positionNow+1}}/{{nQuestions}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <app-grade [successes]="successes" [mistakes]="mistakes" [notAnswered]="notAnswered" [grade]="resultadoNota"></app-grade>
  <app-question (questionAnswerChange)="changeChecked($event)" (result2)="changeResult($event)"
    [questionAnswer]="currentQuestionAnswer"></app-question>
</ion-content>
<ion-footer class="footer">

  <ion-button [style.visibility]="positionNow>0 ? 'visible' : 'hidden'" (click)="back()">ATRAS</ion-button>
  <ion-button (click)="confirmSelection()" *ngIf="checkedButton">CORREGIR</ion-button>
  <ion-button (click)="next()" *ngIf="positionNow<(nQuestions-1)">SIGUIENTE</ion-button>
  <ion-button *ngIf="positionNow===(nQuestions-1)">FINALIZAR</ion-button>
</ion-footer>