
.list {
    margin: 10px;
    border-radius: 10px;
    --mat-checkbox-disabled-label-color:white;
    --mdc-checkbox-disabled-unselected-icon-color: white;
    --mat-checkbox-disabled-icon-color: white;
}

.chk-question-dark {
    --mat-checkbox-label-text-color:white;
    --mat-sys-on-surface-variant:white;
    --mdc-checkbox-unselected-icon-color: white;
}
.item-toggle-init-test{
    width: auto;
}
.chk-question-dark {
    --mat-checkbox-label-text-color:white;
    --mat-sys-on-surface-variant:white;
    --mdc-checkbox-unselected-icon-color: white;
}
