.text-white {
    color: white !important;
}

.list {
    margin: 10px;
    border-radius: 10px;
}

.list ion-item:last-child::after {
    border-bottom: none !important;
}
.icon-color-white {
  color: white !important;
  font-size: 24px;
}
