
.general-form {

  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  gap: 10px;
}

.example-full-width {
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent !important;
}

.input-top {
  margin-top: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgba(193, 193, 193, 0.36) !important;
  border-radius: 5px;
}

.btn-reset {
  background-color: transparent;
  color: #272727;
  margin-right: 10px;
}

.custom-input {
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 30px;
}
.btn-result{
  --border-radius:10px
}
